{% extends "_master.html" %}

{% block head %}
    {{ super() }}
    <style>
        .input,
        .select {
            width: auto;
            vertical-align: middle;
        }

        .column {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">r/nosleep Downloader</h1>
                <h2 class="subtitle">Download r/nosleep stories as EPUB files.</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <form action="{{ url_for("download_bulk") }}" method="post">
                <div class="columns">
                    <div class="column">
                        Take <input type="number" class="input" min="1" max="20" value="10" name="take" required>
                        stories
                    </div>
                    <div class="column">
                        from
                        <div class="select" id="tab">
                            <select required name="tab">
                                <option value="top">top</option>
                                <option value="hot">hot</option>
                                <option value="new">new</option>
                                <option value="rising">rising</option>
                                <option value="controversial">controversial</option>
                                <option value="gilded">gilded</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        (
                        <div class="select">
                            <select id="top" name="top">
                                <option value="hour">last hour</option>
                                <option value="day">last 24 hours</option>
                                <option value="week">last week</option>
                                <option value="month" selected>last month</option>
                                <option value="year">last year</option>
                                <option value="all">all</option>
                            </select>
                        </div>
                        )
                    </div>
                    <div class="column">
                        <label class="checkbox" for="include-series">
                            <input type="checkbox" name="include-series" id="include-series">
                            Include posts that are part of a series?
                        </label>
                    </div>
                    <div class="column">
                        <button class="button is-primary" type="submit">Download</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <form action="{{ url_for("download_one") }}" method="post">
                <div class="columns">
                    <div class="column">
                        or provide a link
                        <input type="url" class="input" placeholder="https://www.reddit.com/r/Starfield/comments/..."
                               name="url" required>
                        <button class="button is-primary" type="submit">Download</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script>
        const tabSelect = document.getElementById("tab");
        const topSelect = document.getElementById("top");

        tabSelect.addEventListener("change", event => {
            const {value} = event.target;
            const topSelected = value === "top";

            topSelect.disabled = !topSelected;
        });
    </script>
{% endblock %}